@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<li class="menu-item"><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
<li class="menu-item"><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>