@model IReadOnlyCollection<CocktailViewModel>
@{
    ViewData["Title"] = "_SearchCoctailPartial";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="cocktail-info">
            <div class="col">
                <div class="card-deck" style="width: 200px">
                    <div class="card bg-black-only">
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.PictureURL)" @*style="height: 180px; width: 300px"*@>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                                <br />
                                @for (int i = 0; i < @item.Rating; i++)
                                {
                                    <img src="~/lib/images/christmas_star.png" alt="Star" width="20">
                                }
                            </h5>
                            <p class="card-text text-center">
                                @*Igredients*@
                                @for (int i = 0; i < item.Ingredients.Count; i++)
                                {

                                    @Html.DisplayFor(modelItem => item.Ingredients[i].Name)
                                    if (item.Ingredients.Count - 1 != i)
                                    {
                                        <span>,</span>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
