@model CreateCocktailViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateCocktailIngredientViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CocktailName" class="control-label"></label>
                <input asp-for="CocktailName" class="form-control" />
                <span asp-validation-for="CocktailName" class="text-danger"></span>
            </div>
            <div class="form-group" id="add-here">
                <datalist id="ingr">
                    @foreach (var item in Model.AllIngredients)
                    {
                        <option class="hidenvalue" value-hidden="@item.Value">@item.Text</option>
                    }
                </datalist>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<button id="test">Click me</button>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script>

        $(() => {
            let current = 0;
            $('#test').click(() => {
                let a = document.getElementsByClassName("hidenvalue").value;
                console.log(a);
                
                console.log($('.hidenvalue').val());
                const inputs = `<div>Ingredient ${current + 1}</div>
                                <input list="ingr" name="specificIngredients[${current}].IngredientId" placeholder="Select Ingredient..." type="" class="form-control"/>
                                <input name="specificIngredients[${current}].quantity" placeholder="Quantity..." type="text" class="form-control" />
                                <input name="specificIngredients[${current}].unit" placeholder="Item..." type="text" class="form-control" />
                                <hr>`
                current++;
                $('#add-here').append(inputs);
            })
        })
    </script>
}
