@model CreateCocktailViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateCocktailIngredientViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CocktailName" class="control-label"></label>
                <input asp-for="CocktailName" class="form-control" />
                <span asp-validation-for="CocktailName" class="text-danger"></span>
            </div>

            @*<input asp-for="@item.Ingredient" type="text" class="form-control" />
                <input asp-for="@item.Quantity" type="text" class="form-control" />
                <input asp-for="@item.Unit" type="text" class="form-control" />*@


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div id="stefan"></div>
<button id="test">Click me</button>
<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>

    document.getElementById('test').onclick = () => {

        var divtest = document.createElement("div");
        divtest.innerHTML = `<div class="form-group">
                <label asp-for="CocktailName" class="control-label"></label>
                <input asp-for="CocktailName" class="form-control" />
                <span asp-validation-for="CocktailName" class="text-danger"></span>
            </div>`

        document.getElementById('stefan').appendChild(divtest) 

    }
</script>
