@model CreateCocktailViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateCocktailIngredientViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CocktailName" class="control-label"></label>
                <input asp-for="CocktailName" class="form-control" />
                <span asp-validation-for="CocktailName" class="text-danger"></span>
            </div>
            <div class="form-group" id="add-here">
                @*<label asp-for="SpecificIngredient[0].Ingredient" class="control-label"></label>*@


            </div>


            @*<input asp-for="@item.Ingredient" type="text" class="form-control" />
                <input asp-for="@item.Quantity" type="text" class="form-control" />
                <input asp-for="@item.Unit" type="text" class="form-control" />*@
            <div id="stefan"></div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<button id="test">Click me</button>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {

    <script>
        $(function () {
            let current = 0;
            $('#test').click(function () {
                const inputs = `<div>Ingredient ${current + 1}</div>
                        <input name="specificIngredients[${current}].ingredient" placeholder="Name..." type="text" class="form-control" />
                        <input name="specificIngredients[${current}].quantity" placeholder="Quantity..." type="text" class="form-control" />
                        <input name="specificIngredients[${current}].unit" placeholder="Item..." type="text" class="form-control" />
                        <hr>`

                current++;
                $('#add-here').append(inputs);
            })
        })
    </script>
}
