@model IriOnCocktailService.App.Areas.Magician.Models.CreateIngredientViewModel

@{
    ViewData["Title"] = "Create";
}

<div  class="bg-black" style="width: 60%; margin-left: 225px; margin-top: 50px;">
    <div>
        <p class="login-text">
            <span>
                <img src="~/lib/images/Ingredient.png" alt="CreateBar" width="50" style="border-radius: 50%; background-color: white;">
            </span>
        </p>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Name" id="magic-input" class="form-control" style="padding-right: 100px;text-align:left " placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <select asp-for="UnitType" class="form-control" style="background-color: black; color: white; width: 400px; margin-left: 135px;">
                    <option disabled selected value="">Choose Unit Type</option>
                    <option id="magic-input" value="Ml">Ml</option>
                    <option id="magic-input" value="Quantity">Quantity</option>
                    <option id="magic-input" value="Gr">Gr</option>
                </select>
                <span asp-validation-for="UnitType" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" value="Create" class="bar-buttonE border-0">
                    <span data-title="Create Ingredient!">
                        <img src="~/lib/images/dropper.png" alt="CreateBar" width="30"> Create Ingredient!
                        <img src="~/lib/images/dropper.png" alt="CreateBar" width="30">
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
