@model IEnumerable<IriOnCocktailService.App.Areas.Magician.Models.CreateIngredientViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0" class="table-hover">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="font-weight-bold">
                            <img src="~/lib/images/dropper.png" alt="BackToList" width="30">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="font-weight-bold">
                            @Html.DisplayFor(modelItem => item.UnitType)
                        </td>
                        <td>
                            <a id="bar-buttonD" asp-action="Edit" asp-route-id="@item.Id">
                                <span data-title="Edit!">
                                    <img src="~/lib/images/YellowFlask.png" alt="BackToList" width="20"> Edit!
                                    <img src="~/lib/images/YellowFlask.png" alt="BackToList" width="20"> 
                                </span>
                            </a>
                        </td>
                        <td>
                            <a id="bar-buttonE" asp-action="Delete" asp-route-id="@item.Id">
                                <span data-title="Delete!">
                                    <img src="~/lib/images/RedFlask.png" alt="BackToList" width="20"> Delete!
                                    <img src="~/lib/images/RedFlask.png" alt="BackToList" width="20">
                                </span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
