@model IriOnCocktailService.App.Areas.Magician.Models.CreateBarViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="bg-black" style="width: 60%; margin-left: 225px; margin-top: 50px;">
    <form asp-action="Create">
        <h3>Create Bar!</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            @*<b><label asp-for="BarName" class="control-label"></label></b>*@
            <input asp-for="BarName" id="magic-input" class="form-control"  placeholder="Bar Name"/>
            <span asp-validation-for="BarName" class="text-danger"></span>
        </div>
        <div class="form-group">
            @*<b><label asp-for="BarAddress" class="control-label"></label></b>*@
            <input asp-for="BarAddress" id="magic-input" class="form-control" placeholder="Bar Address"/> 
            <span asp-validation-for="BarAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            @*<b><label asp-for="BarPhoneNumber" class="control-label"></label></b>*@
            <input asp-for="BarPhoneNumber" id="magic-input" class="form-control" placeholder="Phone Number" />
            <span asp-validation-for="BarPhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            @*<b><label asp-for="BarPicUrl" class="control-label"></label></b>*@
            <input asp-for="BarPicUrl" id="magic-input" class="form-control" placeholder="Picture url" />
            <span asp-validation-for="BarPicUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="bar-buttonE border-0 mt-4">
                <span data-title="Create Bar!">
                    <img src="~/lib/images/GreenFlask.png" alt="Details" width="20"> Create Bar!
                    <img src="~/lib/images/GreenFlask.png" alt="Details" width="20">
                </span>
            </button>
            <a asp-action="Index">
                <img src="~/lib/images/BackToListRedTrans.png" alt="BackToList" width="100">
            </a>
        </div>
    </form>
</div>

