@model  IriOnCocktailService.App.Areas.Magician.Models.AddCocktailsToBarViewModel
@{
    ViewData["Title"] = "ModifyBarCocktails";
}

<h1>@*TODO*@</h1>

<div class="bg-black" style="width: 60%; margin-left: 225px; margin-top: 50px;">
    <div>
        <p class="login-text">
            <span>
                <img src="~/lib/images/Bars.png" alt="CreateBar" width="50" style="border-radius: 50%;">
            </span>
        </p>
        <form class="form-group" id="magic-input" method="post" asp-area="Magician" asp-controller="Bar" asp-action="ModifyBarCocktails">
            <h3>Create Bar!</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedCocktails" class="control-label">Add Cocktails</label>
                <select asp-for="SelectedCocktails" asp-items="@Model.CocktailsToAdd" class="js-example-basic-multiple form-control " multiple="multiple">
                    <option disabled value="">Add Cocktails</option>
                </select>
                <span asp-validation-for="CocktailsToAdd" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnSelectedCocktails" class="control-label">Remove Cocktails</label>
                <select asp-for="UnSelectedCocktails" asp-items="@Model.CocktailsToRemove" class="js-example-basic-multiple form-control" multiple="multiple">
                    <option disabled value="">Remove Cocktails</option>
                </select>
                <span asp-validation-for="CocktailsToRemove" class="text-danger"></span>
            </div>
            <div hidden="hidden">
                <input value="@Model.BarId" asp-for="BarId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Change Role" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts{
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
});
</script>
}