@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<h1 class="bg-black">@ViewData["Title"]</h1>*@
    <div class="bg-black" style="width: 60%; margin-left: 225px; margin-top: 50px;">
        <p class="login-text">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-lock fa-stack-1x"></i>
            </span>
        </p>
        <div>
            <section>
                <form id="account" method="post">
                    <h3>Log in!</h3>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        @*<label asp-for="Input.Username"></label>*@
                        <input asp-for="Input.Username" id="my-login" class="form-control"
                               placeholder="Username" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Input.Password"></label>*@
                        <input asp-for="Input.Password" id="my-login" class="form-control"
                               placeholder="Access code" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="bar-buttonE border-0">
                            <span data-title="Log in!">
                                <img src="~/lib/images/Magic-Hat-Transparent.png" alt="RateIt" width="25"> Log in!
                                <img src="~/lib/images/Magic-Hat-Transparent.png" alt="RateIt" width="25">
                            </span>
                        </button>

                    </div>

                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">

        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
